<div class='bg-light p-5 my-5'>
  <p>
    <h1 class='display-f'>
      <%= @friend.first_name %> <%= @friend.last_name %>
    </h1>
  </p>

  <p class='lead'>
    <%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %>
  </p>

  <div class='mt-5'>
    <%= link_to 'Edit', edit_friend_path(@friend), class:'btn btn-secondary' %>
    <%= link_to 'Back', friends_path, class:'btn btn-dark' %>

    <% if @friend.encrypted%>
      <%= link_to 'Decrypt', decrypt_friend_path(@friend), class:'btn btn-dark' %>
    <% else %>
      <%= link_to 'Encrypt', encrypt_friend_path(@friend), class:'btn btn-dark' %>
    <% end %>
  </div>

  <% unless @encrypted.nil? %>
  <div class='mt-5'>
    <%= @encrypted["body"] %>
  </div>
  <% end %>

  <% unless @decrypted.nil? %>
  <div class='mt-5'>
    <p>Decrypted data</p>
    <%= @decrypted["body"] %>
  </div>
  <% end %>
</div>

